body{
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.row{
  margin: 0;
}

/* Global form helpers */
.inline-radio label {
    vertical-align: middle
}
.inline-radio input[type=text] {
    width: 200px;
    display:inline-block;
}

/* Weather display */
#temp{
  font-size: 13em;
  text-align: center;
}

#summary{
  font-size: 2.5em;
  text-align: center;
}

#extended-summary {
  font-size: 2.50em;
  text-align: center;
}

#sunrise-sunset{
 font-size: 2.50em;
  text-align: center; 
}

#hourlyforecast{
  margin-top: 15px;
  font-size: 1.3em;
}

.forecasthour{
  text-align: center;
}

#forcast{
  font-size: 2em;
}

.forcast-summary{
  font-size: .7em;
}

.forecast-alert-title{
 font-size: 2em; 
}

/* Calendar display */
#time {
  font-size: 13em;
  text-align: center;
}

#date {
  font-size: 3.7em;
  text-align: center;
}

#calendar{
  margin-top: 40px;
  font-size: 2em; 
}

#calendar-empty{
  margin-top: 40px;
  font-size: 2em;
  text-align: center; 
}

.event-moreinfo{
  font-size: .7em;
}

#breaking-news{
  background-color: #424242;
  color: #E0E0E0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  width: 750px;
}

#breaking-news-image{
    background: no-repeat center center;
    height: 300px; /* Visible height */
    width: 350px; /* Visible width */
}

#breaking-news-headline{
    font-size: 1.4em;
    background-color: #737373;
    padding: 2px 5px;
}

#breaking-news-text{
    font-size: 2.5em;
}